doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Restaurant App

    // STYLESHEETS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/styles/styles.css')

    // VENDOR SCRIPTS
    script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")

    // APPLICATION SCRIPTS
    script(src='/scripts/app.js')

  body
    .container.text-center
      h1 Restaurant App
      h2 Hello World!
      br
      .jumbotron
          h4 Add a New Restaurant
          form#restaurant-form
            .form-group
              label(for="restaurantName") Restaurant Name
              input.text-center.form-control(type='text',name="restaurantName", placeholder="Baitlin's Bakery")
            .form-group
              label(for="restuarantAddy") Restaurant Address
              input.text-center.form-control(type='text',name="restaurantAddy", placeholder="123 Main St., San Jose, CA, USA")
            .form-group
              label(for="restuarantType") Type of Food
              input.text-center.form-control(type='text',name="restaurantType", placeholder="Pastries & Desserts")
            button.btn.btn-primary.text-center(type='submit') Save Restaurant
      #RestaurantTarget
